.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: green;
  border: 0;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}